<header>
  <img src="/assets/perfil.jpeg" alt="perfil" width="130px" height="130px" loading="eager">
  <h1>Daniel Dias Araujo</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor Full-Stack JavaScript REACT | NODE | DOCKER | MONGODB | NESTJS</p>
    <p>Fortaleza, Ceará - Brasil</p>
    <p>Olá, me chamo Daniel e estou cursando o 1 período de análise
      e desenvolvimento de sistemas e tenho experiência em
      desenvolvimento web e mobile utilizando as tecnologias
      React, ReactNative, Node, MongoDB e PostgreSQL. Busco
      uma oportunidade para expandir os meus conhecimentos e
      habilidades, bem como contribuir para projetos desafiadores e
      inovadores.
    </p>

    <nav>
      <ul>
        <li><a href="/assets/curriculo.pdf" target="_blank" class="btn btn-primary">
            Donwload CV
          </a>
        </li>
        <li><a href="https://www.linkedin.com/in/daniel-dias-511623182/" target="_blank" class="btn btn-secondary">
            Linkedin
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="/assets/icons/whatsapp.svg" alt="Icone do whatsapp" width="22px" height="24px">
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=+55+5585985810755&text=Ol%C3%A1%2C+preciso+de+um+job%21%F0%9F%9A%80" target="_blank"><strong>Envie uma mensagem para: </strong>
            <p>Whatsapp: 85 98581-0755</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="/assets/icons/mail.svg" alt="Icone do Email" width="22px" height="24px">
        <figcaption>
          <a href="mailto:danieldias6946@gmail.com" target="_blank"><strong>Envie um e-mail para: </strong>
            <p>danieldias6946&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
